 :root {  
     --field-color: #fff2;
     --skeleton-bg-color: #222;
    --card-padding: 16px;
    --card-height: 250px;
    --card-skeleton: linear-gradient(var(--skeleton-bg-color) var(--card-height), transparent 0);
    
    --title-height: 16px;
    --title-width: 60%;
    --title-position: var(--card-padding) var(--card-padding);
    --title-skeleton: linear-gradient(var(--field-color) var(--title-height), transparent 0);

    --date-width: 32px;
    --date-height: 16px;
    --date-position: var(--card-padding) calc(var(--card-padding) * 2 + var(--title-height));
    --date-skeleton: linear-gradient(var(--field-color) var(--date-height), transparent 0);

    --desc-line-height: 16px;
    --desc-line-skeleton: linear-gradient(var(--field-color) var(--desc-line-height), transparent 0);
    
    --cover-width: calc(100% - var(--card-padding) * 2);
    --cover-height: 75%;
    --cover-position: var(--card-padding) calc(var(--title-height) + var(--date-height) + var(--card-padding) * 3);
    --cover-skeleton: linear-gradient(var(--field-color) var(--cover-height), transparent 0);
    
    --blur-width: 70%;
    --blur-size: var(--blur-width) var(--card-height);
  }
  
  @media screen and (min-width: 64em){
    :root {
      --title-width: 40%;
      --card-padding: 32px;
    }
  }
  
  .MIL_App-grid_skeleton {
    width: 95%;
    margin: 16px auto;
    height: var(--card-height);
    position: relative;
    &:empty::before {
        position: absolute;
        left: 0;
      animation: loading_before 1.5s infinite;
      

    }
    &:empty::after {
        position: absolute;
        right: 0;
      animation: loading_after 1.5s infinite;

    }
    &:empty::before,
    &:empty::after {
      content:"";
      display:block;
      width: calc(99% / 2);
      height: 100%;
  
      background-image:
        linear-gradient(
          90deg, 
          rgba(#222, 0) 0, 
          rgba(#222, .5) 25%, 
          rgba(#222, .9) 50%, 
          rgba(#222, .5) 75%,
          rgba(#222, 0) 100%
        ),                          
        var(--title-skeleton),      
        var(--date-skeleton),  
        var(--cover-skeleton),     
        var(--card-skeleton)        
      ;
  
      background-size:
        var(--blur-size),
        var(--title-width) var(--title-height),
        var(--date-width) var(--desc-line-height),
        var(--cover-width) var(--cover-height),
        100% 100%
      ;
      
      background-position:
        -150% 0,                     
        var(--title-position),       
        var(--date-position),  
        var(--cover-position), 
        0 0                    
      ;
  
      background-repeat: no-repeat;
    }
  }
  
  @keyframes loading_before {
    to {
      background-position:
        350% 0,        
        var(--title-position),  
        var(--date-position),
        var(--cover-position),
        0 0
      ;
    }
  }
  @keyframes loading_after {
    to {
        background-position:
        350% 0,        
        var(--title-position),  
        var(--date-position),
        var(--cover-position),
        0 0
      ;
    }
  }
  
  .MIL_App {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #000;
  }